<?xml version="1.0" encoding="utf-8"?>
<configuration>	
  <dllmap dll="libcodyn-3.0.dll" os="!windows,osx" target="libcodyn-3.0.so.0"/>
  <dllmap dll="libcodyn-3.0.dll" os="osx" target="libcodyn-3.0.0.dylib"/>

  <dllmap dll="libgobject-2.0-0.dll" os="!windows,osx" target="libgobject-2.0.so.0"/>
  <dllmap dll="libgobject-2.0-0.dll" os="osx" target="libgobject-2.0.dylib.0"/>
</configuration>
</configuration>
